<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p></p>
        <p>Owner</p>
<p> <b> Company Name: Operacy Loop </b> </p>
<p> Dates Employed: Oct 2011 – Present</p>
<p> Employment Duration: 8 yrs 5 mos</p>
<p></p>
<p> Matching humans to teams in the software development realm. Barry uses the Morgan Methodology. In addition, Barry has academic training in programming, making him one of the few recruiters who has produced code. In 2011, Barry formed Operacy Loop focusing on better matching individuals to companies, all in the DC, Maryland and Virginia areas. He himself is currently enrolled in Flatiron Software Bootcamp.</p>
    </body>
</html>